.container {
    position: relative;
    height: 14rem;
    border: 1px solid;
  }
  
  .jumbotron {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    border: 1px dashed rgb(71, 31, 52);
  }